h2{
    color: rgb(3, 3, 180);
    font-family: sans-serif;
    margin: 10px 255px 8px 30px;
    border: 2px solid #3498db;
    background-color: #e8f4fd;;
}
p{
    color: rgb(211, 176, 22);
    font-family: sans-serif;
    margin: 3px 30px;
    padding-left: 70px;
    border: 2px solid #3498db;
}