h2{
    font-size: 1.5em;
    margin: auto;
    width: 80%;
    text-align: center;
}

.estrechas{
    border: 1px dashed black;
    width: 10%;
    height: 400px;
    margin: 30px 0.5% 30px 2%;
    position: relative;
    float: left;
    font-weight: bold;
}

p.limpia{
    clear: both;
}

div#central{
    width: 80%;
    margin: auto;
    background-color: aquamarine;
    border: 1px solid red;
    text-align: center;
    align-content: center;
    padding: 20%;
}