h2{
    font-size: 1.5em;
    margin: auto;
    width: 80%;
    text-align: center;
}

.estrechas{
    border: 1px dashed black;
    width: 10%;
    height: 400px;
    margin: 30px 0.5% 30px 2%;
    position: relative;
    left: 5%;
    float: left;
    font-weight: bold;
    padding: 10px;
}