a {color: blue; }
a.blanco {color: #FFBB00;} /*enlaces blancos*/
a.tinto {color: #800000;}

h2{
    color: hotpink;
    font-family: sans-serif;
    border-bottom: 2px solid peru;
    padding-bottom: 5px;
    margin-top: 20px;
    background-color: turquoise;
}
p{
    color: gray;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}
/*estilos para id UNICOS*/
span#izq{text-align: left; text-decoration: underline; text-transform: capitalize;}
span#cen{text-align: center; text-decoration: line-through; text-transform: lowercase;}
span#der{text-align: right; text-decoration: overline; text-transform: uppercase;}
/*son únicos, pero .macarra y #macarra pueden vivir juntos*/

div#democrats{background-color: blue;}
div#republicans{background-color: red;}