/*estilos para el contenedor*/
div.horizontal{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 5px;
    background-color: peru;
}
div.vertical{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 5px;
    background-color: white;
}
div.item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    border: 2px solid gray;
    background-color: rgb(96, 146, 187);
}